<!doctype html>
{% load i18n %}
<html>
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="manifest" href="/manifest.json">
	{% load static %}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/material-components-web.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    </head>
    <body class="mdc-typography">
	<div class="container">
	    <div class="mdc-toolbar mdc-elevation--z4">
		<div class="mdc-toolbar__row">
		    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
			<button class="nav-menu material-icons mdc-toolbar__icon--menu">menu</button>

			<span class="mdc-toolbar__title catalog-title">
			    {% block toolbar_title%}
			    {% trans toolbarTitle %}
			    {% endblock %}
			</span>
		    </section>
		    <div class="mdc-menu-anchor">
			{% block toolbar %}
			{% endblock %}
			<section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
			    <a href="#" class="menu-button material-icons mdc-toolbar__icon" aria-label="Bookmark this page" alt="Bookmark this page">more_vert</a>
			</section>
			<div class="mdc-simple-menu" tabindex="-1">
			    <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
				<li id="logout" class="mdc-list-item" role="menuitem" tabindex="0">
				    Logout
				</li>
				{% block menu %}
				{% endblock %}
			    </ul>
			</div>
		    </div>
		</div>
	    </div>
	    <aside class="mdc-temporary-drawer">
		<nav class="mdc-temporary-drawer__drawer">
		    <header class="mdc-temporary-drawer__header">
			<div class="mdc-temporary-drawer__header-content mdc-theme--primary-bg mdc-theme--text-primary-on-primary">
			    {% trans "Grocery List App" %}
			</div>
		    </header>
		    <nav class="mdc-temporary-drawer__content mdc-list-group">
			<div id="icon-with-text-demo" class="mdc-list">
			    <a class="mdc-list-item mdc-temporary-drawer--selected" href="/">
				<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">list</i>{% trans "Grocery Lists" %}
			    </a> 
			    <!-- <a class="mdc-list-item mdc-temporary-drawer--selected" href="{% url 'show_all_entries' %}">
				 <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">list</i>{% trans "All Entries" %}
				 </a> -->
			</div>
		    </nav>
		</nav>
	    </aside>
	    <div class="content">
		{% block content %}
		{% endblock %}
	    </div>
	</div>
	<script src="{% static 'js/material-components-web.min.js' %}"></script>
	<script>mdc.autoInit()</script>
	<script>
	 let menu = new mdc.menu.MDCSimpleMenu(document.querySelector('.mdc-simple-menu'));
	 // Add event listener to some button to toggle the menu on and off.
	 document.querySelector('.menu-button').addEventListener('click', () => menu.open = !menu.open);
	 var menuEl = document.querySelector('.mdc-simple-menu');

	 var logout = document.querySelector('#logout');
	 menuEl.addEventListener('MDCSimpleMenu:selected', function(evt) {
	     const detail = evt.detail;
	     if (detail.item == logout) {
		 window.location.href = "{% url 'logout' %}";
	     }
	 });

	</script>
	{% block mdc_scripts %}
	<script>
	 var drawerEl = document.querySelector('.mdc-temporary-drawer');
	 var MDCTemporaryDrawer = mdc.drawer.MDCTemporaryDrawer;
	 var drawer = new MDCTemporaryDrawer(drawerEl);
	 document.querySelector('.nav-menu').addEventListener('click', function() {
	     drawer.open = true;
	 });
	 drawerEl.addEventListener('MDCTemporaryDrawer:open', function() {
             console.log('Received MDCTemporaryDrawer:open');
	 });
	 drawerEl.addEventListener('MDCTemporaryDrawer:close', function() {
             console.log('Received MDCTemporaryDrawer:close');
	 });
	</script>
	{% endblock %}
	<script>
	    if ('serviceWorker' in navigator) {
	    navigator.serviceWorker.register('/serviceworker.js').then(function(registration) {
	    // Registration was successful

	    var newWorker = registration.installing;

	    // statechange fires every time the ServiceWorker.state changes
	    newWorker.onstatechange = function() {
	    // show the message on activation
	    if (newWorker.state == 'activated' && !navigator.serviceWorker.controller) {
 	    const MDCSnackbar = mdc.snackbar.MDCSnackbar;
 	    const snackbar = new MDCSnackbar(document.querySelector('.mdc-snackbar'));
 	    const dataObj = {
 	    message: "{% trans 'This website now works offline' %}",
 	    actionText: '{% trans "Dismiss" %}',
 	    actionHandler: function () {
 	    console.log('my cool function');
 	    }
 	    };
 	    snackbar.show(dataObj);
	    }
	    };
	    }).catch(function(err) {
	    // registration failed :(
	    });
	    }
	</script>
    </body>
</html>
