{% extends "base.html" %}
{% load i18n %}
{% block content %}




<form action="" method="post">
    {% csrf_token %}
    <div class="mdc-form-field">
	{{form.grocery_list}}
    </div>
    <br>
    <br>
    <div class="mdc-form-field">
	<div id="title" class="mdc-textfield mdc-textfield--upgraded">
	    <label for="id_title" class="mdc-textfield__label">{% trans "Title" %}</label>
	    {{ form.title }}
	</div>
    </div>
    <br>
    <div class="mdc-form-field">
	<div id="quantity" class="mdc-textfield mdc-textfield--upgraded">
	    <label for="id_quantity" class="mdc-textfield__label">{{ form.quantity.label }}</label>
	    {{ form.quantity }}
	</div>
    </div>
    <br>
    <br>
    <br>
    {{ form.category }}
    <br>
    <br>
    <br>
    <button type="submit" class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple">{% trans "Submit" %}</button>
    </div>
</form>
{% endblock %}
{% block mdc_scripts %}
{{ block.super }}
<script>
 mdc.textfield.MDCTextfield.attachTo(document.querySelector('#title'));
 mdc.textfield.MDCTextfield.attachTo(document.querySelector('#quantity'));

 const MDCSelect = mdc.select.MDCSelect;
 const select = new MDCSelect(document.querySelector('.mdc-select'));
 select.listen('MDCSelect:change', () => {
     alert(`Selected "${select.selectedOptions[0].textContent}" at index ${select.selectedIndex} ` +
	   `with value "${select.value}"`);
 });
</script>
{% endblock %}
